artifacts/
cache/
coverage/
node_modules/
types/
package-lock.json
coverage.json
.env
.DS_Store
deployments/localhost
deployments/kovan/
deployments/mainnet/
deployments/arbitrum-testnet
deployments/aurora-testnet
deployments/metis-testnet
deployments/harmony-testnet
/typechain